<?xml version = "1.0" encoding = "UTF-8"?>
<!--
https://blog.csdn.net/MRL6140x/article/details/78077942
spring boot默认加载文件的路径：
    /META-INF/resources/
    /resources/
    /static/
    /public/
-->

<!--logback.xml会先application.properties加载，而logback-spring.xml会后于application.properties加载-->
<configuration>
    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <appender name = "FILE" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}${LOG_FILE}.log</File>
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}${LOG_FILE}.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>2</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!--启动Eureka时不能获取application.properties中的logging.file.max-size-->
            <!--<maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>-->
            <maxFileSize>10kb</maxFileSize>
        </triggeringPolicy>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "FILE"/>
        <appender-ref ref = "STDOUT"/>
    </root>
</configuration>