<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--自定义的属性：一个表名-->
    <properties>
        <property name="table.user" value="userinfo"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="localCacheScope" value="STATEMENT"/>
    <!--    &lt;!&ndash; 获取数据库自增主键值 &ndash;&gt;-->
    <!--    <setting name="useGeneratedKeys" value="true"/>-->
    <!--    &lt;!&ndash; 使用列标签替换列别名 默认:true &ndash;&gt;-->
    <!--    <setting name="useColumnLabel" value="true"/>-->
    <!--    &lt;!&ndash; 开启驼峰命名转换 &ndash;&gt;-->
    <!--    <setting name="mapUnderscoreToCamelCase" value="true"/>-->
    </settings>
    <!--作用相当于 mybatis.type-aliases-package=com.pojo-->
    <typeAliases>
        <typeAlias type="com.pojo.User" alias="user"/>
        <package name="com.pojo"/>
    </typeAliases>
</configuration>